[user]
  name = Florent Beaurain
  email = beaurain.florent@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
[color]
  ui = true
[branch]
  autosetuprebase = always
[fetch]
  prune = true
[pull]
  ff = only
  rebase = preserve
[merge]
  ff = only
[rebase]
  autosquash = true
[push]
  default = current
[commit]
	gpgsign = true
